/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}
.kontent{padding-left: -15px;}
.postingan{float: left; margin-bottom: 20px; }
.setail{
	display: block;
    background-color: #fff;
    border: 1px solid #ddd;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
}
.gambar {
	width: 40%;
	float: left;
	border: 1px;
}
.judul {
	width: 60%;
	float: left;
	border: 1px;
    padding: 0px;
}

.judul h3 a {font-size: 16px; text-decoration: none;}

.post-labels {}
.sidebar{
    pad
}
.widget{}

.widget-content{}
.widget-content input {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.widget-content ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 14px;
}

.widget-content li a{
    display: block;
    color: #333;
    text-decoration: none;
}

.widget-content li a:hover{
    color: #5a5a5a;
}

.gsc-input {
   
}

/* Bigger than 992 */
@media (min-width: 992px) {
.date-outer {
    width: 50%;
    float: left;
}
}

.date-outer {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.date-posts{
	float: left; 
	margin-bottom: 20px; 
	display: block;
    background-color: #fff;
    border: 1px solid #ddd;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
}

.thumbnail-post {
	width: 40%;
	float: left;
	border: 1px;
}
.judul2 {
	width: 60%;
	float: left;
	border: 1px;
}
.post-body{}
.post-body h3 {margin:7px; font-size: 16px; color:#ddd;}

.post-footer {float:left;}
